{% load static %}
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">


                <div class="col-lg-3 col-md-6 footer-info">
                    {% for contact in contacts %}
                    <h3>Etech</h3>
                    <p>
                        {{ contact.address }} <br>
                        <strong>Telefon: </strong> {{ contact.phone_1 }}<br>
                        <strong>Telefon: </strong> {{ contact.phone_1 }}<br>
                        <strong>Email: </strong> {{ contact.email }}<br>
                    </p>
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>
                    {% endfor %}
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Keçidlər</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#hero">Əvvələ</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#about">Haqqımızda</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#services">Xidmətlər</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#portfolio">Layihələr</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Xidmətlərimiz</h4>
                    <ul>
                        {% for service in services %}
                        <li><i class="bx bx-chevron-right"></i> <a href="">{{ service.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Bülletenimiz</h4>
                    <form action="" method="post">
                        <input disabled type="email" name="email"><input disabled type="submit" value="Abunə ol">
                    </form>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">&copy; Copyright<strong><span>Etech</span></strong>. Bütün haqlar qorunur {% now "Y" %}</div>
    </div>
</footer>
<!-- End Footer -->